.vscode/
__pycache__/
*.py[cod]
*$py.class
llada/output/
llada/evals_results/
dream/evals_results/
.DS_Store
**/.DS_Store
modeling_src
v2/modeling_src
v2/logs/
v2/results/
v2/diffusion_attn/
v2/qwen_attn/
*.egg-info/
*checkpoint*
v2/entropy_report1.json
v2/entropy_report2.json
v2/qwen_entropy_report.json